{"swagger":"2.0","info":{"description":"FranConnect SKY REST API Developer Portal","version":"1.0","title":"FranConnect SKY REST API","termsOfService":"Terms of service","contact":{"name":"FranConnect"},"license":{"name":"FranConnect","url":"http://www.franconnect.com/license.txt"}},"host":"api.franconnectqa.net:8095","basePath":"/manage-finance","tags":[{"name":"Finance Api","description":"<h3 class=\"western\">Finance API Overview</h3>\n<p>This API is built to allow users to automate the transfer of data between the FranConnect system&rsquo;s Finance module and their 3<sup>rd</sup> party Finance/ POS systems. FranConnect&rsquo;s APIs are RESTful in nature and support the transfer Create, Retrieve, Update, and Delete (CRUD) operations.</p>\n<h3 class=\"western\">Rate limits and accounts</h3>\n<p>Currently, FranConnect&rsquo;s REST APIs do not impose any rate limit restrictions but users are expected to retrieve data after certain interval and retrieve only the deltas (wherever applicable) so as to not overload the system. Retrieving a large dataset might result in slowness and impede the overall system performance.</p>\n<h3 class=\"western\">Concurrent Requests</h3>\n<p>Franconnect&rsquo;s APIs do not support concurrent requests and the API expects that the requests be served one at a time.</p>\n<h3 class=\"western\">Authentication</h3>\n<p>FranConnect supports OAuth 2.0 for authenticating requests before they can be used to perform CRUD operations using FranConnect&rsquo;s API. Further details on how to set up the authentication and generate the access token can be found <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span>.</p>"},{"name":"Authentication","description":"<b class=\"western\">Authentication</b>\n<p>Authentication in the REST API for Finance happens using OAuth 2.0 with grant type as &ldquo;password&rdquo;. In order to generate an access token, the user has to have a valid FCSky login credential. The subsequent steps are as below:</p>\n<ol>\n<li>\n<p>The user has to make a &ldquo;POST&rdquo; type request to <span style=\"color: #0563c1;\"><u><a href=\"https://auth.franconnectqa.net/userauth/oauth/token\">https://auth.franconnectqa.net/userauth/oauth/token</a></u></span> with &ldquo;Authorization&rdquo; set as &ldquo;Basic Auth&rdquo; with &ldquo;client_id&rdquo; and &ldquo;client_secret&rdquo; being &ldquo;fcsky&rdquo; and &ldquo;fcskysecret&rdquo;. This is common for all customers.</p>\n</li>\n<li>\n<p>Along with this, the user has to mention &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo; (or &ldquo;application/xml) and &ldquo;X-TenantId&rdquo; as the user&rsquo;s FranConnect system&rsquo;s login URL prior to &ldquo;/fc&rdquo;. This means that in case the user&rsquo;s FranConnect system&rsquo;s URL is &ldquo;abc.franconnect.net/fc&rdquo;, the &ldquo;X-TenantId&rdquo; would be &ldquo;abc.franconnect.net&rdquo; (without the double quotes).</p>\n</li>\n<li>\n<p>In the body of the request, the user has to fill in his/ her username and password in the &ldquo;username&rdquo; and &ldquo;password&rdquo; fields and has to specify the &ldquo;grant_type&rdquo; as &ldquo;password&rdquo;.</p>\n</li>\n</ol>\n<p>This request is to be posted as &ldquo;form-data&rdquo; on the <span style=\"color: #0563c1;\"><u><a href=\"https://auth.franconnectqa.net/userauth/oauth/token\">https://auth.franconnectqa.net/userauth/oauth/token</a></u></span> URL to generate an access token.</p>"},{"name":"Retrieve Franchise Number","description":"<p>&nbsp;</p>\n<p>Franchise ID, mentioned in various endpoints, refers to the franchise number against which any type of Create, Retrieve, Update, or Delete (hereafter to be referred as CRUD) operation is to be performed.</p>\n<p>This can be found from &ldquo;Admin &gt; Manage Franchise Location&rdquo; and then by clicking on the &ldquo;modify&rdquo; option from the action menu corresponding to the franchise location for which the sales categories are being retrieved.</p>\n<p>Note: The franchisee numbers are immutable and there can only be one franchise number corresponding to a franchise location. It is, therefore, a one-time activity to retrieve the franchise number for each location and the franchise number thus retrieved can be used in subsequent operations.</p>"},{"name":"Categories","description":"This API is for fetching the Financial, Non-Financial, Additional Invoice Items and Profit Loss Categories in the Finance Module"},{"name":"Report Periods","description":"This Api is to support the Finance Sales based on reports"},{"name":"Report Status","description":"<p>This section lists the various status that can be attributed to sales reports and can therefore can be used as a search constraint in retrieve operations.</p>\n<p>&nbsp;</p>\n<center>\n<table width=\"306\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #5b9bd5;\" bgcolor=\"#5b9bd5\" width=\"57\">\n<p><span style=\"color: #ffffff;\"><strong>Key</strong></span></p>\n</td>\n<td style=\"background: #5b9bd5;\" bgcolor=\"#5b9bd5\" width=\"219\">\n<p><span style=\"color: #ffffff;\"><strong>Name</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"57\">\n<p><strong>P</strong></p>\n</td>\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"219\">\n<p>Pending</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"57\">\n<p><strong>A</strong></p>\n</td>\n<td width=\"219\">\n<p>Approved</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"57\">\n<p><strong>R</strong></p>\n</td>\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"219\">\n<p>Rejected</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"57\">\n<p><strong>I</strong></p>\n</td>\n<td width=\"219\">\n<p>Invoiced</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"57\">\n<p><strong>K</strong></p>\n</td>\n<td style=\"background: #deeaf6;\" bgcolor=\"#deeaf6\" width=\"219\">\n<p>Waiting for Acknowledgement</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<p>&nbsp;</p>"},{"name":"Sales","description":"This Api is to support the Finance Sales based operation"},{"name":"Royalities","description":"This Api is to support the Finance Royalty based operation"},{"name":"Payments","description":"This Api is to support the Finance Payment based operation"},{"name":"Profit and Loss Statements","description":"Profit Loss Controller"}],"paths":{"/categories/sales/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Categories"],"summary":"Finance Categories","description":"<p>This represents the financial or the income categories that are used as a part of the sales report.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve the financial categories that were used in a particular sales report.</p>\n<p><strong>Endpoint:</strong> <em>/manage-finance/categories/sales/franchiseeID/{id}/reportPeriod/{reportPeriod}</em></p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>A previous section already talks about how to retrieve the report periods for which a location is yet to report sales for. This can be accessed <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:\">here</a></u></span>. Once this is done, a particular report period is to be selected and used in the endpoint to perform a GET operation. This would provide a list of financial categories that are available to report the sales against for the given report period.</p>","operationId":"Finance Categories","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/kpis/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Categories"],"summary":"Non-Financial/ KPI Categories","description":"<p>This represents the non-financial or the KPI categories that are used as a part of the sales report.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve the non-financial/ KPI categories that were used in a particular sales report.</p>\n<p><strong>Endpoint:</strong> <em>/manage-finance/categories/kpis/franchiseeID/{id}/reportPeriod/{reportPeriod}</em></p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>A previous section already talks about how to retrieve the report periods for which a location is yet to report sales for. This can be accessed <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:\">here</a></u></span>. Once this is done, a particular report period selected, and the financial categories corresponding to that report period retrieved (click <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_1\">here</a></u></span> to know more on how to retrieve financial categories in a particular report period), the next step is to perform a GET operation on the corresponding endpoint (mentioned above) to retrieve a list of non-financial/ KPI categories that are available for the given report period.</p>\n<p><strong>Note</strong>: Some of the clients may or may not have non-financial/ KPI categories set up in their sales report. In case the sales reports do not contain non-financial/ KPI categories, this step can be omitted.</p>","operationId":"Non-Financial/ KPI Categories","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/addtional-items/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Categories"],"summary":"Additional Invoice Items","description":"<p>This represents the additional items apart from the <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_1\">financial</a></u></span> and the <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_2\">non-financial/KPI</a></u></span> categories that the franchisor would like to include in their sales reports.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve the additional invoice items that were used in a particular sales report.</p>\n<p><strong>Endpoint:</strong> <em>/manage-finance/categories/addtional-items/franchiseeID/{id}/reportPeriod/{reportPeriod}</em></p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>Similar to non-financial/KPI categories, the &ldquo;additional invoice items&rdquo; are optional. While they can be configured from &ldquo;Admin &gt; Finance &gt; Configure Additional Invoice Item(s)&rdquo;, some franchisors have it configured as part of their sales reports while some choose not to. In case it is not configured, retrieving &ldquo;additional invoice items&rdquo; would result in an empty data set and can therefore be omitted, in such cases.</p>","operationId":"Get Additional Invoice Items","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/profit-loss":{"get":{"tags":["Categories"],"summary":"Profit and Loss Categories","description":"<p>These are used to represent the categories that are present in P&amp;L statements against which income and expenses are to be entered for each franchisee, on a monthly basis.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve the non-financial/ KPI categories that were used in a particular sales report.</p>\n<p><strong>Endpoint:</strong> <em>/manage-finance/categories/profit-loss</em></p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>Once a GET call is made to the endpoint mentioned above, the response contains all the P&amp;L categories that are configured in the system and a placeholder where the &ldquo;amount&rdquo; can be filled in against that corresponding category.</p>","operationId":"Profit and Loss Categories","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/payments/filter":{"get":{"tags":["Payments"],"summary":"Retrieve","description":"<p>Payments that are made against a royalty report can be retrieved using the Payments endpoint.</p>\n<p>In order to retrieve the payment details, the user should have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Access tokens, once generated, are valid for 12 hours. Click <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span> to know how access tokens are generated.</p>\n</li>\n<li>\n<p>value of the attribute that is to be used to retrieve the payment. In the below example, \"invoiceNo\" is used as the constraint to retrieve the payment information.</p>\n</li>\n</ol>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;\"constraints\":{</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"invoiceNo\":{</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"clause\": \"EQUAL\",</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; \"values\": [\"210\"]</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>\n<p>Other parameters that can also be used are as below, with the clauses that applicable for each of those constraints.</p>\n<center>\n<table width=\"552\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"7\" height=\"17\">\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"111\">\n<p><span style=\"color: #ffffff;\"><strong>Field</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"79\">\n<p><span style=\"color: #ffffff;\"><strong>Field Display Name</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"238\">\n<p><span style=\"color: #ffffff;\"><strong>Applied Clause</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"45\">\n<p><span style=\"color: #ffffff;\"><strong>Format</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"18\">\n<p><strong>1</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>franchiseRoyaltyId</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>-</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"8\">\n<p><strong>2</strong></p>\n</td>\n<td width=\"111\">\n<p>invoiceNo</p>\n</td>\n<td width=\"79\">\n<p>Invoice No</p>\n</td>\n<td width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"19\">\n<p><strong>3</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>paymentNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>payment No</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"9\">\n<p><strong>4</strong></p>\n</td>\n<td width=\"111\">\n<p>dateApplied</p>\n</td>\n<td width=\"79\">\n<p>Date Applied</p>\n</td>\n<td width=\"238\">\n<p>EQUAL, GREATER_THAN,</p>\n<p>LESS_THAN, GREATER_THAN_OR_EQUAL,</p>\n<p>LESS_THAN_OR_EQUAL, BETWEEN</p>\n</td>\n<td width=\"45\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"8\">\n<p><strong>5</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"111\">\n<p>franchiseeNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"79\">\n<p>Franchise ID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"238\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"45\">\n<p>String</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<h2 class=\"western\">&nbsp;</h2>","operationId":"Retrieve","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/PaymentFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss":{"post":{"tags":["Profit and Loss Statements"],"summary":"Create","description":"<p>This operation is used to create a new P&amp;L statement in the system.</p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/profit-loss</em></p>\n<p><strong>Operation Name:</strong> POST</p>\n<p>Prior to creating a P&amp;L statement using the REST API, the user must have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Steps on how an access token is to be generated is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span>.</p>\n</li>\n<li>\n<p>retrieved the P&amp;L categories. Steps on how the P&amp;L categories are retrieved is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_4\">here</a></u></span>.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p>A POST request is to be made to the endpoint specified above with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated in step a), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>[</p>\n<p>{</p>\n<p>\"data\":[</p>\n<p>{</p>\n<p>\"franchiseeNo\": \"1196202994\",</p>\n<p>\"statementPeriod\": \"Apr - 2019\",</p>\n<p>\"submissionDate\": \"2019-05-31\",</p>\n<p>\"plItems\": [</p>\n<p>{</p>\n<p>P&amp;L categories and their values</p>\n<p>}</p>\n<p>]</p>\n<p>&nbsp;</p>\n<p>}]</p>\n<p>}</p>\n<p>]</p>\n<p><br /> </p>\n<p>In case the create operation is successful, the response data would contain the &ldquo;plrepId&rdquo;. This represents the internal reference ID for the P&amp;L statement that was just created and can be used for <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve_1\">retrieve</a></u></span> and update operations.</p>","operationId":"Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/filter":{"post":{"tags":["Profit and Loss Statements"],"summary":"Retrieve","description":"<p>The retrieve operation is used to retrieve an existing P&amp;L statement. For this, the user must have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Steps on how an access token is to be generated is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span>.</p>\n</li>\n<li>\n<p>a valid report period for which the P&amp;L statement is to be retrieved. Steps on how P&amp;L report periods (a.k.a, statement period) is retrieved is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_5\">here</a></u></span>.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/profit-loss/filter</em></p>\n<p><strong>Operation Name:</strong> POST</p>\n<p><br /> </p>\n<p>Once the access token and P&amp;L report period are retrieved, a POST request is to be made to the above endpoint with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p><br /> </p>\n<p>{</p>\n<p>\"constraints\": {</p>\n<p>\"statementPeriod\":</p>\n<p>{</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": [\"Feb - 2019\"]</p>\n<p>}</p>\n<p>}}</p>\n<p><br /> </p>\n<p><br /> </p>\n<p><br /> </p>\n<p><br /> </p>\n<p><br /> </p>\n<p>Other values that can be used as constraints along with their clause criteria as mentioned below.</p>\n<p><br /> </p>\n<table width=\"610\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #f0f0f0;\" bgcolor=\"#f0f0f0\" width=\"14\" height=\"17\">\n<p lang=\"en\">&nbsp;</p>\n</td>\n<td width=\"108\">\n<p><span style=\"color: #172b4d;\"><span style=\"font-size: small;\"><strong>Field</strong></span></span></p>\n</td>\n<td width=\"113\">\n<p><span style=\"color: #172b4d;\"><span style=\"font-size: small;\"><strong>Field Display Name</strong></span></span></p>\n</td>\n<td width=\"256\">\n<p><span style=\"color: #172b4d;\"><span style=\"font-size: small;\"><strong>Applied Clause</strong></span></span></p>\n</td>\n<td width=\"47\">\n<p><span style=\"color: #172b4d;\"><span style=\"font-size: small;\"><strong>Format</strong></span></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #f0f0f0;\" bgcolor=\"#f0f0f0\" width=\"14\" height=\"10\">\n<p><span lang=\"en\"><strong>1</strong></span></p>\n</td>\n<td width=\"108\">\n<p><span lang=\"en\">plrepId</span></p>\n</td>\n<td width=\"113\">\n<p><span lang=\"en\">-</span></p>\n</td>\n<td width=\"256\">\n<p><span lang=\"en\">EQUAL, IN</span></p>\n</td>\n<td width=\"47\">\n<p><span lang=\"en\">String</span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #f0f0f0;\" bgcolor=\"#f0f0f0\" width=\"14\" height=\"2\">\n<p><span lang=\"en\"><strong>2</strong></span></p>\n</td>\n<td width=\"108\">\n<p><span lang=\"en\">franchiseeNo</span></p>\n</td>\n<td width=\"113\">\n<p><span lang=\"en\">Franchise ID</span></p>\n</td>\n<td width=\"256\">\n<p><span lang=\"en\">EQUAL, IN</span></p>\n</td>\n<td width=\"47\">\n<p><a name=\"_GoBack\"></a> <span lang=\"en\">String</span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #f0f0f0;\" bgcolor=\"#f0f0f0\" width=\"14\" height=\"65\">\n<p><span lang=\"en\"><strong>3</strong></span></p>\n</td>\n<td width=\"108\">\n<p><span lang=\"en\">statementPeriod</span></p>\n</td>\n<td width=\"113\">\n<p><span lang=\"en\">Statement Period</span></p>\n</td>\n<td width=\"256\">\n<p><span lang=\"en\">EQUAL, GREATER_THAN,</span></p>\n<p><span lang=\"en\">LESS_THAN, GREATER_THAN_OR_EQUAL,</span></p>\n<p><span lang=\"en\">LESS_THAN_OR_EQUAL, BETWEEN</span></p>\n</td>\n<td width=\"47\">\n<p><span lang=\"en\">Date</span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #f0f0f0;\" bgcolor=\"#f0f0f0\" width=\"14\" height=\"69\">\n<p><span lang=\"en\"><strong>4</strong></span></p>\n</td>\n<td width=\"108\">\n<p><span lang=\"en\">submissionDate</span></p>\n</td>\n<td width=\"113\">\n<p><span lang=\"en\">Submission Date</span></p>\n</td>\n<td width=\"256\">\n<p><span lang=\"en\">EQUAL, GREATER_THAN,</span></p>\n<p><span lang=\"en\">LESS_THAN, GREATER_THAN_OR_EQUAL,</span></p>\n<p><span lang=\"en\">LESS_THAN_OR_EQUAL, BETWEEN</span></p>\n</td>\n<td width=\"47\">\n<p><span lang=\"en\">Date</span></p>\n</td>\n</tr>\n</tbody>\n</table>\n<p><br /> </p>\n<p><strong>Note</strong>: Multiple constraints can be used in the filter to retrieve data. These constraints have be specified in comma separated format, as shown below.</p>\n<p>{</p>\n<p>\"constraints\": {</p>\n<p>\"statementPeriod\":</p>\n<p>{</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": [\"Apr - 2019\"]</p>\n<p>},</p>\n<p>\"franchiseeNo\":</p>\n<p>{</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": [\"1196202994\"]</p>\n<p>}</p>\n<p>}}</p>","operationId":"Retrieve","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"profitLossFilter","description":"ParameterType:ProfitLossFilter","required":false,"schema":{"$ref":"#/definitions/ProfitLossFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/{id}":{"put":{"tags":["Profit and Loss Statements"],"summary":"Update","description":"<p>The update operation is used to update an existing P&amp;L statement. For this, the user must have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Steps on how an access token is to be generated is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span>.</p>\n</li>\n<li>\n<p>a valid &ldquo;plrepId&rdquo; which is the unique reference ID for the P&amp;L statement for which data is to be updated. Steps on how the &ldquo;&ldquo;plrepId&rdquo; is retrieved is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve_1\">here</a></u></span>.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/profit-loss/{id}</em></p>\n<p><strong>Operation Name:</strong> PUT</p>\n<p>A POST request is to be made to the endpoint specified above with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated in step a), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>[</p>\n<p>{</p>\n<p>\"data\":[</p>\n<p>{</p>\n<p>\"submissionDate\": \"2019-05-31\",</p>\n<p>\"plItems\": [</p>\n<p>{</p>\n<p>P&amp;L categories and their values</p>\n<p>}</p>\n<p>]</p>\n<p>}]</p>\n<p>}</p>\n<p>]</p>","operationId":"Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/status":{"get":{"tags":["Report Status"],"summary":"Get Sales Report Statuses","description":"<p>The payment status for Royalty reports can be retrieved using the endpoint mentioned below:</p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/royalties/status</em></p>\n<p><strong>Operation Name:</strong> GET</p>\n<p>A GET operation is to be performed on the Royalty status endpoint mentioned above. This would provide a list of royalty payment status that are available in the system as well as their corresponding keys.</p>\n<center>\n<table width=\"228\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"63\">\n<p><span style=\"color: #ffffff;\"><strong>Key</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"135\">\n<p><span style=\"color: #ffffff;\"><strong>Payment Status</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"63\">\n<p><strong>N</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"135\">\n<p>Unpaid</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"63\">\n<p><strong>P</strong></p>\n</td>\n<td width=\"135\">\n<p>Partially Paid</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"63\">\n<p><strong>C</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"135\">\n<p>Fully Paid</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<p><br /> </p>\n<p>While performing a retrieve operation on the royalties&rsquo; endpoint, the &ldquo;key&rdquo; for the payment status is mentioned in the response that is received.</p>","operationId":"Get Sales Report Statuses","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/filter":{"post":{"tags":["Royalities"],"summary":"Retrieve","description":"<p>Royalty reports are generated on the basis of sales submitted for the locations and can be retrieved in a similar way as retrieving a sales report.</p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/royalties/filter</em></p>\n<p><strong>Operation Name:</strong> POST</p>\n<p>Prior to retrieving royalty reports, the user should have:</p>\n<ol type=\"a\">\n<li>\n<p>a valid access token. Access tokens, once generated, are valid for 12 hours. Click <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">here</a></u></span> to know how access tokens are generated.</p>\n</li>\n<li>\n<p>the invoice ID (&ldquo;invoiceNo&rdquo;) of the royalty report for which data is to be retrieved.</p>\n</li>\n</ol>\n<p>A POST request is to be made to the above endpoint with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>{</p>\n<p>\"constraints\":{</p>\n<p>\"invoiceNo\":{</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": \"207\"</p>\n<p>}</p>\n<p>}</p>\n<p>}</p>\n<p>Here is a list of all the items that can be used as constraints while retrieving royalty reports along with the &ldquo;clauses&rdquo; that are supported for each constraint.</p>\n<p><br /> </p>\n<center>\n<table width=\"601\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"7\" height=\"34\">\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"112\">\n<p><span style=\"color: #ffffff;\"><strong>Field</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"117\">\n<p><span style=\"color: #ffffff;\"><strong>Field Display Name</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"249\">\n<p><span style=\"color: #ffffff;\"><strong>Applicable Clauses</strong></span></p>\n</td>\n<td style=\"background: #4472c4;\" bgcolor=\"#4472c4\" width=\"44\">\n<p><span style=\"color: #ffffff;\"><strong>Format</strong></span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"6\">\n<p><strong>1</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>franchiseRoyaltyID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>-</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"17\">\n<p><strong>2</strong></p>\n</td>\n<td width=\"112\">\n<p>invoiceNO</p>\n</td>\n<td width=\"117\">\n<p>Invoice NO</p>\n</td>\n<td width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"9\">\n<p><strong>3</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>franchiseeNo</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>Franchisee ID</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\" height=\"74\">\n<p><strong>4</strong></p>\n</td>\n<td width=\"112\">\n<p>invoiceDate</p>\n</td>\n<td width=\"117\">\n<p>Invoice Date</p>\n</td>\n<td width=\"249\">\n<p>EQUAL, GREATER_THAN,</p>\n<p>LESS_THAN, GREATER_THAN_OR_EQUAL,</p>\n<p>LESS_THAN_OR_EQUAL, BETWEEN</p>\n</td>\n<td width=\"44\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"7\" height=\"1\">\n<p><strong>5</strong></p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"112\">\n<p>paymentStatus</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"117\">\n<p>Payment Status</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"249\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #d9e2f3;\" bgcolor=\"#d9e2f3\" width=\"44\">\n<p>String</p>\n</td>\n</tr>\n</tbody>\n</table>\n</center>\n<p><br /> </p>","operationId":"Retrieve","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/RoyaltyFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales":{"post":{"tags":["Sales"],"summary":"Create","description":"<p>Sales report can be created for a location for a given period for which the sales has not been filled yet. In order to do so, the following steps are to be performed prior to creating the sales report:</p>\n<ol type=\"a\">\n<li>\n<p>Authenticate the user and generate an <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">access token</a></u></span>.</p>\n</li>\n<li>\n<p>Retrieve the franchise number. Details on how this is done is mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieving_Franchise_ID\">here</a></u></span>.</p>\n</li>\n<li>\n<p>Retrieve the report periods for which the said location is yet to report sales for. Detailed steps are mentioned <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:\">here</a></u></span>.</p>\n</li>\n<li>\n<p>Retrieve the various <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_1\">financial categories</a></u></span>, the <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_2\">non-financial/ KPI categories</a></u></span>, and the <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve:_3\">additional invoice items</a></u></span>.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p>Once the franchise number, the report period, and the various categories for Sales report are determined, the next step is to use this information to create a sales report.</p>\n<p><strong>Endpoint:</strong> /manage-finance/sales</p>\n<p><strong>Operation Name:</strong> POST</p>\n<p>A POST request is to be made to the endpoint specified above with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated in step a), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>[</p>\n<p>{</p>\n<p>\"data\": [</p>\n<p>{</p>\n<p>\"franchiseeNo\": \"1196202994\",</p>\n<p>\"reportPeriod\": \"2019-05-26\",</p>\n<p>\"dateReceived\": \"2019-05-31\",</p>\n<p>\"financialItems\": [</p>\n<p>{</p>\n<p>Financial categories, quantity, and amount</p>\n<p>}</p>\n<p>],</p>\n<p>\"nonFinancialItems\": [</p>\n<p>{</p>\n<p>Non-Financial categories and their values</p>\n<p>}</p>\n<p>],</p>\n<p>\"finAddnlItems\": [</p>\n<p>{</p>\n<p>Additional Invoice items and their values</p>\n<p>}</p>\n<p>]</p>\n<p>}]</p>\n<p>}]</p>\n<p><br /> </p>\n<p>The response provides &ldquo;franchiseRoyaltyID&rdquo; and &ldquo;salesReportID&rdquo;.</p>","operationId":"Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/filter":{"post":{"tags":["Sales"],"summary":"Retrieve","description":"<p>The retrieve operation is performed to retrieve an existing sales report for a given franchise location. In order for an existing sales report to be retrieved:</p>\n<ol type=\"a\">\n<li>\n<p>User must have a valid <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">access token</a></u></span>.</p>\n</li>\n<li>\n<p>The user is to determine the <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieving_Franchise_ID\">franchise number</a></u></span> of the location for which the report is to be retrieved.</p>\n</li>\n<li>\n<p>The report period is expressed in &ldquo;YYYY-MM-DD&rdquo; format and is used in the API endpoints without the double quotes.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/sales/</em><span style=\"color: #505050;\"><em>filter</em></span></p>\n<p><strong>Operation Name:</strong> POST</p>\n<p>A POST type of request is to be made to the endpoint mentioned above with &ldquo;Content-Type&rdquo; as &ldquo;application/json&rdquo;, &ldquo;Authorization&rdquo; as &ldquo;bearer &lt;&lt;accessToken&gt;&gt;&rdquo; (where the &lt;&lt;accessToken&gt;&gt; is to be replaced by the actual access token generated in step a), and &ldquo;X-TenantId&rdquo; as the login URL of the user&rsquo;s FranConnect system prior to&rdquo;/fc&rdquo;.</p>\n<p>The body of the request should be in the format as shown below:</p>\n<p><br /> </p>\n<p>{</p>\n<p>\"constraints\": {</p>\n<p>\"reportNo\": {</p>\n<p>\"clause\": \"EQUAL\",</p>\n<p>\"values\": [\"202\"]</p>\n<p>}</p>\n<p>}</p>\n<p>}</p>\n<p><strong>Note</strong>: In the above example, the value that was used for &ldquo;constraints&rdquo; is \"reportNo\". Other acceptable values of constraints, that can be used to filter and retrieve sales reports, include salesReportID, reportPeriodStart, reportPeriodEnd, franchiseeNo, reportSubmitDate, totalSales, reportType filters. Enter mentioned filters in constraints key. In each filter use clause given in below table for retrieving correct sales report.</p>\n<p><br /> </p>\n<table width=\"623\" cellspacing=\"0\" cellpadding=\"7\">\n<tbody>\n<tr valign=\"top\">\n<td style=\"background: #a5a5a5;\" bgcolor=\"#a5a5a5\" width=\"7\">\n<p><span style=\"color: #ffffff;\">#</span></p>\n</td>\n<td style=\"background: #a5a5a5;\" bgcolor=\"#a5a5a5\" width=\"134\">\n<p><span style=\"color: #ffffff;\">Field</span></p>\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #a5a5a5;\" bgcolor=\"#a5a5a5\" width=\"118\">\n<p><span style=\"color: #ffffff;\">Field Display Name</span></p>\n</td>\n<td style=\"background: #a5a5a5;\" bgcolor=\"#a5a5a5\" width=\"250\">\n<p><span style=\"color: #ffffff;\">Applied Clause</span></p>\n<p>&nbsp;</p>\n</td>\n<td style=\"background: #a5a5a5;\" bgcolor=\"#a5a5a5\" width=\"43\">\n<p><span style=\"color: #ffffff;\">Format</span></p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"7\">\n<p><strong>1</strong></p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"134\">\n<p>reportNo</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"118\">\n<p>Report No</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"250\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"43\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\">\n<p><strong>2</strong></p>\n</td>\n<td width=\"134\">\n<p>salesReportID</p>\n</td>\n<td width=\"118\">\n<p>-</p>\n</td>\n<td width=\"250\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"43\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"7\">\n<p><strong>3</strong></p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"134\">\n<p>franchiseeNo</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"118\">\n<p>Franchisee ID</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"250\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"43\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\">\n<p><strong>4</strong></p>\n</td>\n<td width=\"134\">\n<p>reportPeriodStart/End</p>\n</td>\n<td width=\"118\">\n<p>Report Period</p>\n</td>\n<td width=\"250\">\n<p>EQUAL, GREATER_THAN,</p>\n<p>LESS_THAN, GREATER_THAN_OR_EQUAL,</p>\n<p>LESS_THAN_OR_EQUAL, BETWEEN</p>\n</td>\n<td width=\"43\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"7\">\n<p><strong>5</strong></p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"134\">\n<p>reportSubmitDate</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"118\">\n<p>Report Submit Date</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"250\">\n<p><span style=\"font-family: 'Times New Roman', serif;\"><span style=\"font-size: medium;\"><span style=\"font-family: Calibri, serif;\"><span style=\"font-size: small;\">EQUAL, GREATER_THAN,</span></span></span></span></p>\n<p><span style=\"font-family: 'Times New Roman', serif;\"><span style=\"font-size: medium;\"><span style=\"font-family: Calibri, serif;\"><span style=\"font-size: small;\">LESS_THAN, GREATER_THAN_OR_EQUAL,</span></span></span></span></p>\n<p><span style=\"font-family: 'Times New Roman', serif;\"><span style=\"font-size: medium;\"><span style=\"font-family: Calibri, serif;\"><span style=\"font-size: small;\">LESS_THAN_OR_EQUAL, BETWEEN</span></span></span></span></p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"43\">\n<p>Date</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\">\n<p><strong>6</strong></p>\n</td>\n<td width=\"134\">\n<p>totalSales</p>\n</td>\n<td width=\"118\">\n<p>Total Sale</p>\n</td>\n<td width=\"250\">\n<p><span style=\"font-family: 'Times New Roman', serif;\"><span style=\"font-size: medium;\"><span style=\"font-family: Calibri, serif;\"><span style=\"font-size: small;\">GREATER_THAN,</span></span></span></span></p>\n<p><span style=\"font-family: 'Times New Roman', serif;\"><span style=\"font-size: medium;\"><span style=\"font-family: Calibri, serif;\"><span style=\"font-size: small;\">LESS_THAN</span></span></span></span></p>\n</td>\n<td width=\"43\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"7\">\n<p><strong>7</strong></p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"134\">\n<p>reportStatus</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"118\">\n<p>Report Status</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"250\">\n<p>EQUAL, IN</p>\n</td>\n<td style=\"background: #ededed;\" bgcolor=\"#ededed\" width=\"43\">\n<p>String</p>\n</td>\n</tr>\n<tr valign=\"top\">\n<td width=\"7\">\n<p><strong>8</strong></p>\n</td>\n<td width=\"134\">\n<p>reportType</p>\n</td>\n<td width=\"118\">\n<p>Report Type</p>\n</td>\n<td width=\"250\">\n<p>EQUAL, IN</p>\n</td>\n<td width=\"43\">\n<p>String</p>\n</td>\n</tr>\n</tbody>\n</table>\n<p><br /> </p>","operationId":"Retrieve","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:SalesFilter","required":false,"schema":{"$ref":"#/definitions/SalesFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/{id}":{"put":{"tags":["Sales"],"summary":"Update","description":"<p>The update operation is performed to update an existing sales report for a given franchise location. In order for an existing sales report to be updated:</p>\n<ol type=\"a\">\n<li>\n<p>User must have a valid <span style=\"color: #0563c1;\"><u><a href=\"#_Authentication\">access token</a></u></span>.</p>\n</li>\n<li>\n<p>User must have the salesReportID. The salesReportID can be retrieved by passing the &ldquo;Report ID&rdquo; as seen in the UI side (or any other Sales Report attribute) as a constraint in the retrieve operation as shown <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieve\">here</a></u></span>. The salesReportID is also available in the response of a <span style=\"color: #0563c1;\"><u><a href=\"#_Create\">Create Sales Report Operation</a></u></span>.</p>\n</li>\n</ol>\n<p><br /> </p>\n<p><strong>Endpoint</strong>: <em>/manage-finance/sales/{id}</em></p>\n<p><strong>Operation Name:</strong> PUT</p>\n<p><br /> </p>\n<p>The body of the request should be in the format as shown below:</p>\n<p>[</p>\n<p>{</p>\n<p>\"data\": [</p>\n<p>{</p>\n<p>\"dateReceived\": \"2019-05-31\",</p>\n<p>\"financialItems\": [</p>\n<p>{</p>\n<p>Financial categories, modified quantity and/ or amount</p>\n<p>}</p>\n<p>],</p>\n<p>\"nonFinancialItems\": [</p>\n<p>{</p>\n<p>Non-Financial categories and their modified values</p>\n<p>}</p>\n<p>],</p>\n<p>\"finAddnlItems\": [</p>\n<p>{</p>\n<p>Additional Invoice items and their modified values</p>\n<p>}</p>\n<p>]</p>\n<p>}]</p>\n<p>}]</p>\n<p><br /> </p>\n<p>Note: It is to be noted that the sales report can only be modified as long as it is not approved. Once it is approved, only adjustments can be made to the sales report.</p>","operationId":"Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/periods/franchisee/{id}":{"get":{"tags":["Report Periods"],"summary":"Report Periods for Sales Reports","description":"<p>The report period for Sales refers to the minimum period of time for which sales is to be reported by the franchise. The report period for any franchise location is defined in the financial agreement version that is associated with that franchise location. The term &ldquo;report period&rdquo; refers to the last day (i.e., the end date) of that reporting cycle.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve all the report periods (i.e., the report period end dates) for which sales has not been reported by the franchise location.</p>\n<p><strong>Endpoint:</strong> <em>/manage-finance/sales/periods/franchisee/{id}</em></p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>The franchise ID refers to the franchise number and can be retrieved from <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieving_Franchise_ID\">here</a></u></span>. Once the franchise number has been retrieved, a GET operation needs to be performed on the endpoint mentioned above. This would provide a list of report periods for which the mentioned franchise is yet to report sales for.</p>","operationId":"Report Periods for Sales Reports","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«List«Map«string,string»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/status":{"get":{"tags":["Report Periods"],"summary":"Statement Periods for P&L Statements","description":"<p>The report period for Profit and Loss is the statement period for which Profit and Loss (hereafter being referred as P&amp;L) records are consolidated. The P&amp;L consolidation is done at the monthly level for each franchise location.</p>\n<h5 class=\"western\">Operations:</h5>\n<h6 class=\"western\">Retrieve:</h6>\n<p>The retrieve operation is used to retrieve all the statement periods (i.e., the report period end dates) for which sales has not been reported by the franchise location.</p>\n<p><strong>Endpoint:</strong> /manage-finance/profit-loss/periods/franchisee/{id}</p>\n<p><strong>Operation Name:</strong> Get</p>\n<p>The franchise ID refers to the franchise number and can be retrieved from <span style=\"color: #0563c1;\"><u><a href=\"#_Retrieving_Franchise_ID\">here</a></u></span>. Once the franchise number has been retrieved, a GET operation needs to be performed on the endpoint mentioned above. This would provide a list of statement periods for which the mentioned franchise is yet to declare its P&amp;L statement for.</p>","operationId":"Statement Periods for P&L Statements","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Character":{"type":"object","title":"Character"},"FilterConstraint":{"type":"object","title":"FilterConstraint","description":"This model is used for filter-contraints having field operation and values  "},"Map«string,List«Map«string,object»»»":{"type":"object","title":"Map«string,List«Map«string,object»»»","additionalProperties":{"$ref":"#/definitions/List"}},"Map«string,object»":{"type":"object","title":"Map«string,object»","additionalProperties":{"type":"object"}},"Map«string,string»":{"type":"object","title":"Map«string,string»","additionalProperties":{"type":"string"}},"Page":{"type":"object","properties":{"groupBy":{"type":"string"},"pageId":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalPages":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"viewAll":{"type":"boolean"}},"title":"Page"},"PaymentFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"dateApplied":{"type":"array","items":{"type":"string","format":"date-time"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"}},"title":"PaymentFilter","description":"Provides the filter parameter"},"ProfitLossFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"endDate":{"type":"string","format":"date-time"},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchisesNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"plrepId":{"type":"array","items":{"type":"integer","format":"int32"}},"startDate":{"type":"string","format":"date-time"},"storeType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"submissionDate":{"type":"string","format":"date-time"}},"title":"ProfitLossFilter","description":"Provides the filter parameter"},"Response«Result«List«List«Map«string,string»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«List«Map«string,string»»»»"}},"title":"Response«Result«List«List«Map«string,string»»»»»"},"Response«Result«List«Map«string,List«Map«string,object»»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,List«Map«string,object»»»»»"}},"title":"Response«Result«List«Map«string,List«Map«string,object»»»»»»"},"Response«Result«List«Map«string,object»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,object»»»"}},"title":"Response«Result«List«Map«string,object»»»»"},"Result«List«List«Map«string,string»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"type":"array","items":{"$ref":"#/definitions/Map«string,string»"}}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«List«Map«string,string»»»»","description":"Return the Result of anyType along with data & Page attribute"},"List":{"type":"object","title":"List","additionalProperties":{"type":"string"}},"Result«List«Map«string,List«Map«string,object»»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,List«Map«string,object»»»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,List«Map«string,object»»»»»","description":"Return the Result of anyType along with data & Page attribute"},"Result«List«Map«string,object»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,object»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,object»»»","description":"Return the Result of anyType along with data & Page attribute"},"RoyaltyFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceDate":{"type":"array","items":{"type":"string","format":"date-time"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"paymentStatus":{"$ref":"#/definitions/Character"}},"title":"RoyaltyFilter","description":"Provides the filter parameter"},"SalesFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"reportPeriodEnd":{"type":"array","items":{"type":"string","format":"date-time"}},"reportPeriodStart":{"type":"array","items":{"type":"string","format":"date-time"}},"reportSubmitDate":{"type":"array","items":{"type":"string","format":"date-time"}},"reportType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"salesReportID":{"type":"array","items":{"type":"integer","format":"int32"}},"totalSales":{"type":"array","items":{"type":"integer","format":"int32"}}},"title":"SalesFilter","description":"Provides the filter parameter"},"Sort":{"type":"object","properties":{"columns":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["ASC","DESC"]}},"title":"Sort"}}}
